<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/img/favicons/favicon.png")" />
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicons/favicon.png")" />
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/img/favicons/apple.png")" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" type="text/css" />
    <!-- Colour Schemes
		Default colour scheme is blue. Uncomment prefered stylesheet to use it.
		<link rel="stylesheet" href="css/brown.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/gray.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/green.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/pink.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/red.css" type="text/css" media="screen" />
		-->
    <!-- Your Custom Stylesheet -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/custom.css")" type="text/css" />
    <!--swfobject - needed only if you require <video> tag support for older browsers -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/swfobject.js")" ></script>
    <!-- jQuery with plugins -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.4.2.min.js")"></script>
    <!-- Could be loaded remotely from Google CDN : <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.ui.core.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.ui.widget.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.ui.tabs.min.js")"></script>
    <!-- jQuery tooltips -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.tipTip.min.js")"></script>
    <!-- Superfish navigation -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.superfish.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.supersubs.min.js")"></script>
    <!-- jQuery popup box -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.nyroModal.pack.js")"></script>
    <!-- jQuery form validation -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.validate_pack.js")"></script>
    <!-- Internet Explorer Fixes -->
    <!--[if IE]>
		<link rel="stylesheet" type="text/css" media="all" href="css/ie.css"/>
		<script src="js/html5.js"></script>
		<![endif]-->
    <!--Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js -->
    <!--[if lt IE 8]>
		<script src="js/IE8.js"></script>
		<![endif]-->
    <script type="text/javascript">
        $(document).ready(function () {

            /* setup navigation, content boxes, etc... */
            Administry.setup();

            /* progress bar animations - setting initial values */
            Administry.progress("#progress1", 1, 6);

            // validate form on keyup and submit
            var validator = $("#sampleform").validate({
                rules: {
                    firstname: "required",
                    lastname: "required",
                    username: {
                        required: true,
                        minlength: 2
                    },
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password_confirm: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    dateformat: "required",
                    terms: "required"
                },
                messages: {
                    firstname: "Enter your firstname",
                    lastname: "Enter your lastname",
                    username: {
                        required: "Enter a username",
                        minlength: jQuery.format("Enter at least {0} characters")
                    },
                    password: {
                        required: "Provide a password",
                        rangelength: jQuery.format("Enter at least {0} characters")
                    },
                    password_confirm: {
                        required: "Repeat your password",
                        minlength: jQuery.format("Enter at least {0} characters"),
                        equalTo: "Enter the same password as above"
                    },
                    email: {
                        required: "Please enter a valid email address",
                        minlength: "Please enter a valid email address"
                    },
                    dateformat: "Choose your preferred dateformat",
                    terms: " "
                },
                // the errorPlacement has to take the layout into account
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent().find('label:first'));
                },
                // specifying a submitHandler prevents the default submit, good for the demo
                submitHandler: function () {
                    alert("Data submitted!");
                },
                // set new class to error-labels to indicate valid fields
                success: function (label) {
                    // set &nbsp; as text for IE
                    label.html("&nbsp;").addClass("ok");
                }
            });

            // propose username by combining first- and lastname
            $("#username").focus(function () {
                var firstname = $("#firstname").val();
                var lastname = $("#lastname").val();
                if (firstname && lastname && !this.value) {
                    this.value = firstname + "." + lastname;
                }
            });

        });
    </script>
</head>
<body>
    <!-- Header -->
    <header id="top">
        <div class="wrapper">
            <!-- Title/Logo - can use text instead of image -->
            <div id="title">
                <img src="@Url.Content("~/Content/img/logo.png")" alt="Administry" />
            </div>
            <!--用户信息开始-->
            @Html.Partial("_UserInfo")
            <!--用户信息结束-->
            <!--导航菜单开始-->
            @Html.Partial("_Menu")
            <!--导航菜单结束-->
            <!-- Aside links -->
            <aside>
			    <b>简体中文</b> &middot; 
                <a href="#">English</a>
			</aside>
            <!-- End of Aside links -->
        </div>
    </header>
    <!-- End of Header -->
    @RenderBody()
    <!-- Page footer -->
    <footer id="bottom">
        <div class="wrapper">
            <nav>
					<a href="#">Dashboard</a> &middot; <a href="#">Content</a> &middot; <a href="#">Reports</a> &middot; <a
                        href="#">Users</a> &middot; <a href="#">Media</a> &middot; <a href="#">Events</a> &middot; <a
                            href="#">Newsletter</a> &middot; <a href="#">Settings</a>
				</nav>
            <p>
                Copyright &copy; 2010 <b><a href="http://www.865171.cn" title="www.865171.cn">www.865171.cn</a></b>
                | Icons by <a href="http://www.865171.cn">865171.cn</a>
            </p>
        </div>
    </footer>
    <!-- End of Page footer -->
    <!-- Animated footer -->
    <footer id="animated">
        <ul>
            <li><a href="#">Dashboard</a> </li>
            <li><a href="#">Content</a> </li>
            <li><a href="#">Reports</a> </li>
            <li><a href="#">Users</a> </li>
            <li><a href="#">Media</a> </li>
            <li><a href="#">Events</a> </li>
            <li><a href="#">Newsletter</a> </li>
            <li><a href="#">Settings</a> </li>
        </ul>
    </footer>
    <!-- End of Animated footer -->
    <!-- Scroll to top link -->
    <a href="#" id="totop">^ scroll to top</a>
    <!-- User interface javascript load -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/administry.js")"></script>
</body>
</html>
