@model  IEnumerable<Smart.Admin.Models.User>
@{
    ViewBag.Title = "用户管理";
}
<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>
            系统管理 &rarr; <span>用户管理</span></h1>
        <!-- Quick search box -->
        <form action="" method="get">
        <input class="" type="text" id="q" name="q" value="请输入搜索关键字" />
        </form>
    </div>
</div>
<!-- End of Page title -->
<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- 左边分部小节开始 -->
        <section class="column width6 first">
            <h3>
                功能简介</h3>
            <div class="box box-info">
                供网站用户账户信息永久存储功能。
            </div>
            <!--用户列表开始-->
            <h3>
                用户列表</h3>
            <table class="display stylized" id="example">
                <thead>
                    <tr>
                        <th>
                            用户账号
                        </th>
                        <th>
                            用户昵称
                        </th>
                        <th>
                            最后登录
                        </th>
                        <th>
                            当前状态
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Smart.Admin.Models.User user in Model)
                    {
                        <tr class="gradeX">
                            <td>@user.UserName
                            </td>
                            <td>@user.Nick
                            </td>
                            <td>@user.EndLoginDate
                            </td>
                            <td>
                                <a href="@Url.Content("~/User/Edit?userName=")@user.UserName">编辑</a>| <a href="@Url.Content("~/User/Del?userName=")@user.UserName">
                                    删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            用户账号
                        </th>
                        <th>
                            用户昵称
                        </th>
                        <th>
                            最后登录
                        </th>
                        <th>
                            当前状态
                        </th>
                    </tr>
                </tfoot>
            </table>
            <div class="clear">
                &nbsp;
            </div>
            <!--用户列表结束-->
        </section>
        <!-- 左边分部小节结束 -->
        <!-- 右边分部小节开始 -->
        <aside class="column width2">
            <!--快捷菜单-->
            @Html.Partial("Custom/QuickMenu", new List<Smart.Admin.Models.Custom.QuickMenu>()
       {
           new Smart.Admin.Models.Custom.QuickMenu(){ 
               Icon="~/Content/img/style.png", 
               Link="~/User/Index",
               LinkText="用户列表", 
               Description="管理用户信息。"},
           new Smart.Admin.Models.Custom.QuickMenu(){ 
               Icon="~/Content/img/style.png", 
               Link="~/User/Add",
               LinkText="添加用户", 
               Description="添加一个用户。"}
       })
            <!--实用的提示信息-->
            @Html.Partial("Custom/Tips", new Smart.Admin.Models.Custom.Tips()
       {
           Title = "提示信息",
           Content = "这里描述一段实用的便捷描述文字信息。",
           LinkText = "w3schools.com",
           Link = "w3schools.com"
       })
        </aside>
        <!-- 右边分部小节结束 -->
    </div>
    <!-- End of Wrapper -->
</div>
<!-- End of Page content -->
<script type="text/javascript">
    $(function () {
        /* datatable */
        $('#example').dataTable();
    });
</script>
