@{
    ViewBag.Title = "产品知识";
}
<!--left开始-->
<div id="left">
    @Html.Partial("Custom/ProductItem")
    @Html.Partial("Custom/ArticleItem")
    <div class="productlist" style="margin-top: 8px;">
        <img src="@Url.Content("../content/images/lxwm.jpg")" width="251" alt="" />
    </div>
</div>
<!--left结束-->
<!--right开始-->
<div id="right">
    <div id="company">
        <!--tit开始-->
        <div class="tit">
            <div class="titleft">
                详情介绍
            </div>
            <div class="titright" style="margin-top: -7px;">
                <img src="@Url.Content("~/Content/images/more.jpg")" border="0" />
            </div>
        </div>
        <!--tit结束-->
        <!--示例内容-->
        <div class="bj">
            @Html.Partial("Custom/ArticleList")
        </div>
        <!--示例内容结束-->
    </div>
</div>
<!--right结束-->
