@{
    Layout = null;
}
<div id="footer1">
    <div id="footer">
    </div>
    <div id="bottom">
        <a href="@Url.Content("~/Home/About")">关于网站</a> · 
        <a href="@Url.Content("~/Home/Jobs")">工作机会</a> ·                
        <a href="@Url.Content("~/Home/Links")">友情链接</a> ·        
        <a href="@Url.Content("~/Home/Statement")">免责声明</a> ·        
        <a href="@Url.Content("~/Home/LegalAffairs")#">法律事务</a> ·        
        <a href="@Url.Content("~/Home/SiteMap")">网站地图</a> ·        
        <a href="@Url.Content("~/Home/Help")">帮助中心</a><br />

        地址：中国-XXX-XXX &nbsp;&nbsp; 邮编：000000<br />
        销售专线：+86-0000-00000000&nbsp;&nbsp;00000000 &nbsp;&nbsp; E-mail：000@000.cn &nbsp;&nbsp;
        传真：+86-000-000000 &nbsp;&nbsp; 版 权：&copy;SmartBooks&nbsp;所有
    </div>
</div>
