<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - 企业门户网站V1.0</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="about" content="@ViewBag.About" />
    <meta name="date" content="@ViewBag.Date" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/main.css")" />
    <link rel="icon" type="image/png" href="@Url.Content("~/content/icon/favicon.ico")"/>
</head>
<body>
    @Html.Partial("_Hander")
    @Html.Partial("_Menu")
    <div id="wrap">
        <!--banner开始-->
        <div id="banner">
            <img src="@Url.Content("~/Content/images/banner.jpg")" width="1000" height="275" alt="" />
        </div>
        <!--nav结束-->
        <!--contact开始-->
        <div id="content">
            @RenderBody()
        </div>
        <!--contact结束-->
        @Html.Partial("_CopyRight")
    </div>
</body>
</html>
