@{
    Layout = null;
}
<!--nav开始-->
<div id="nav1">
    <div id="nav">
        <ul>
            <li class="white"><a href="@Url.Content("~/Home/Index")" class="li1">网站首页</a></li>
            <li class="white"><a href="@Url.Content("~/Home/CompanyProfile")">公司简介</a></li>
            <li class="white"><a href="@Url.Content("~/Home/Products")">产品展示</a></li>
            <li class="white"><a href="@Url.Content("~/Home/News")">新闻资讯</a></li>
            <li class="white"><a href="@Url.Content("~/Home/ProductsLore")">产品知识</a></li>
            <li class="white"><a href="@Url.Content("~/Home/SalesNetwork")">销售网络</a></li>
            <li class="white"><a href="@Url.Content("~/Home/Service")">服务宗旨</a></li>
            <li class="white"><a href="@Url.Content("~/Home/Contact")">联系我们</a></li>
        </ul>
    </div>
</div>
<div id="navdx">
</div>
